

.calc-container {
	margin-top: 5%;
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #dedede;
	border-radius: 5px;
	padding: 7px;
	padding-right: 10px;
}

.fill {
	width: 100%;
	height: 100%;
}

.input-text {
	text-align: right;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}
.button {
	background-color: #c15151;
	border-color: black;
}
.button:hover {
	background-color: #8e3b3b;
}

#expression {
	border-radius: 5px;
	border-color: #c15151;
}

.button {
	display: table-column;
	width: 24.5%;
	margin-top: 2%;
	position: relative;
}

.buttons {
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width: 480px) {
	.calc-container {
		margin: 0px;
		width: 100%;
		height: 300px;
	}
	
	
}