<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        
        <div class="container intro-container">
          <div class="content-center">
            <div class="cc-profile-image">
              
            <img class="rounded-img" src="assets/imgs/img2.jpg" alt="Image" />

            </div>
            <div class="h2 title subname">Parker Siroishka</div>
            <p class="category">Studying Computer Science<br>at the University of Calgary</p>
            <a class="btn btn-primary dl-resume"
              href="https://drive.google.com/open?id=11Hlf7ydaPvACagKiuyo84x4NCfn-OH8C" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download Resume</a>
          </div>
        </div>


        <img class="background-img" src="assets/imgs/intro-bg.jpg" alt="Image" />
     
        <div class="section">
          <div class="container">
            <div class="button-container">

              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/parker.sir/"
                target="_blank" rel="tooltip" title="Follow me on Instagram">
                <i class="link fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/parker-siroishka-37b730163/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="link fa fa-linkedin"></i>
              </a>
              <a class="pcenter-block btn btn-default btn-round btn-lg btn-icon" href="https://github.com/parker-siroishka"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="link fa fa-github"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>